<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ICB.Server.ForApp.AppService" behaviorConfiguration="Default">
        <host>
          <baseAddresses>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding"
                  behaviorConfiguration="devleapBehavior"
                  contract="ICB.Server.ForApp.IAppContract"></endpoint>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="consoleOutputBehavior" type="WcfServer.Debug.ConsoleOutputBehaviorExtensionElement, WcfServer, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>   
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="devleapBehavior">
          <consoleOutputBehavior />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>